In [1]:
## 기본적인 함수 만들기
def print_3times(n): 2. ## 매개변수 n에 "지훈입니다"대입
    print(n)
    print(n)
    print(n)

print_3times("지훈입니다") ## 1. 함수를 호출합니다.

지훈입니다
지훈입니다
지훈입니다

In [ ]:
# 문자열 관련 함수 : upper() lower() strip() lstrip() rstrip()

a = "지훈입니다"
a.upper()  ## " 이것을".upper(대문자로 만들어라)

In [1]:
# 가변 매개변수 
def print_n_times(value, n, *e):
    for i in range(n):
        print(value)
        
print_n_times("안녕하세요", 10, 13, 13,13)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [3]:
# 함수 변수 선언 순서 (일반 매개변수, 가변 매개변수, 기본 매개변수)
# r
def print_n_times(*values,n=2):
    print(type(values))  ## values의 자료형은 튜플이였다!!
     
    for i in range(n):
        for value in values:
            print(value)
print_n_times("안녕하세요","즐거운","파이썬",3)

<class 'tuple'>
안녕하세요
즐거운
파이썬
3
안녕하세요
즐거운
파이썬
3

In [6]:
# 기본 매개변수에 값을 변경하려면 키워드 매개변수를 사용
def print_n_times(*values,n=2):
    for i in range(n):
        for value in values:
            print(value)
        print()
        
print_n_times("안녕하세요","즐거운","파이썬",n=1) ## n=3(키워드 매개변수)

안녕하세요
즐거운
파이썬

# 291_2번 문제

In [10]:
## 빈칸의 값을 모두 곱해서 리턴하는함수
def mul(*values):
    output = 1
    for i in range(len(values)):
        output *= values[i]
    return output

print(mul(3,4,5))

60

# 재귀함수!

In [11]:
# 반복문으로 팩토리얼 구하기
def factorial(n):
    output = 1
    
    for i in range(1,n+1):
        output *= i
    return output

print(factorial(5))

120

In [12]:
# 재귀 함수로 팩토리얼 구하기(콜백함수)
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

120

In [16]:
# 재귀함수는 같은연산을 기하급수적으로 많이해 사용하면 안된다 하지만
# 메모화 기술을 통해 극복가능

dictionary ={
    1: 1,
    2: 1
}

def fibonacci(n):
    
    if n in dictionary:
        return dictionary(n)
    else:
        output = factorial(n-1) + factorial(n-2)
        dictionary = output
        return output

print(factorial(10))

3628800

In [37]:
## 리스트 평탄화 복습! (복잡하네)

a = [[1,2,3],[4,5,6],[7,8,9]]
b = []
for i in range(len(a)):
    for j in a[i]:
        b.append(j)
        
print(b)

TypeError: 'list' object cannot be interpreted as an integer

# 짝홀수 판별기

In [41]:
# 정수를 입력받아 입력된 숫자가 짝수인지 홀수인지 출력
a = int(input("숫자를 입력하시오:"))
if a%2 == 0:
    print("짝수")
else:
    print("홀수")

숫자를 입력하시오:133
홀수

In [49]:
## 복잡하고 무식한 방법으로 구하기    
a = input("숫자를 입력하시오:")
if a[-1] == "2" or a[-1] == "4" or a[-1] ==6 or a[-1] ==8:
    print("짝수")
else:
    print("홀수")

숫자를 입력하시오:12
짝수

In [51]:
## in 연산자를 이용하여 짝홀수 판별기 만들기
a = input("숫자를 입력하시오:")
last_c = a[-1]

if last_c in "02468":
    print("짝")
else:
    print("홀")

숫자를 입력하시오:100
짝

# 리스트 평탄화 재귀함수

In [ ]:
def flatten(data): ## 2. 매개변수 example 대입  ## 7. 매개변수 exam[0]
    output = []    ## 3. output 선언 8.
    for item in data:   ## 4.  for문 반복 example[0,1,2] 9.exam[0](1,2,3)
        if type(item) == list:  ## 5. example[0]dl 리스트면
            output += flatten(item)  ## 6. output에 flatten(exam[0])대입
            
        else:
            output.append(item)
    return output
example = [[1,2,3],[4,[5,6]],[7,8,9]]
print("원본: ",example)
print("원본: ",flatten(example)) ## 호출 1.