In [1]:
import pandas as pd

In [ ]:
data_frame = pd.read_csv("data/friend_list.csv")

In [2]:
data_frame

NameError: name 'data_frame' is not defined

# 파이썬 리스트를 사용해 시리즈를 만들어 데이타 프레임 만들기

In [5]:
s1 = pd.core.series.Series( [1,2,3] )
s2 = pd.core.series.Series( ["one","two","three"] )

pd.DataFrame(data = dict(num=s1, word=s2))

   num   word
0    1    one
1    2    two
2    3  three

# 1.Series

1차원 데이터 정수, 실수, 문자열 등

In [ ]:
##