In [14]:
import pandas as pd

df = pd.read_csv("./data/auto-mpg.csv",header = None)
df.columns =  ['mpg','cylinders','displacement','horsepower','weight',
             'acceleration','model year','origin','name']
# print(df)
print(df.head(3))

mpg_to_kpl = 1.60934/3.78541

df["kpl"] = df["mpg"] * mpg_to_kpl

# print()
df["kpl"] = df["kpl"].round(2)

df.head(3)

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0      130.0  3504.0          12.0          70
1  15.0          8         350.0      165.0  3693.0          11.5          70
2  18.0          8         318.0      150.0  3436.0          11.0          70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name,kpl
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,7.65
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,6.38
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,7.65