In [5]:

## 제너레이터 함수(reversed)

nums = [1,2,3,4,5,6]

r_nums = reversed(nums)

print(next(r_nums))
print(next(r_nums))
print(next(r_nums))
print(next(r_nums))
print(next(r_nums))
print(next(r_nums))

6
5
4
3
2
1

In [6]:
## 1 다음에 값이 없어 오류
print(next(r_nums))

StopIteration:

# chap5. 함수

In [18]:
# 1. 함수 만들기 : def 함수명():
#      코드 작성 .....
def print_3_times():  # 매개변수가 없는 함수!
    print("Hello")
    print("Hello")
    print("Hello")
    

# 매개변수가 있는 함수 정의
def print_n_times(value, n):
    for i in range(n):
        print(value)
        
print_3_times()

Hello
Hello
Hello

In [17]:
print_n_times("test", 3)

test
test
test

In [20]:
# 가변 매개변수 (입력되는 변수가 무제한일때) 함수명(기본변수,*변수명)
# (일반적인 매개변수 위치 순서 1. 일반  2. 가변 3. 기본)

def print_n_var_times(n, *values, b = 2): #1. 일반 2. 가변 3. 기본
    for i in range(n):
        for value in values:
            print(value)
        print(b)
        
print_n_var_times(2, "test","hello","python")

test
hello
python
2
test
hello
python
2

In [21]:
# 일반 

def test_func(a, b = 10, c = 20):
    print(a+b+c)
    
test_func(a = 10, b = 20, c = 30)
test_func(10)
test_func(c = 100, b = 20, a = 100)
test_func(a = 10, c = 300)

60
40
220
320

 # 현재 가격을 입력 받아 상한가 (30%)를  출력하는 print_upper_price 함수를 정의하라.

In [24]:
def print_upper_price(price):
    return price * 1.3

price_input = float(input("값을 입력하시오:"))
print_upper_price(price_input)

값을 입력하시오:100

130.0

# 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [26]:
def three_numbers_compare(a,b,c):
    compare = a,b,c
    return max(compare) 


print(three_numbers_compare(10,20,30))

30

In [35]:
# start stop step 을 이용하여 합을 구하는 함수 작성

def sum_func(start = 0, stop = 100, step = 1):
    total = 0
    for i in range(start,stop+1,step):
        total += i
    return total

In [38]:
print("0~100까지 합", sum_func())
print("0~100까지 짝수합", sum_func(step = 2))
print("0~100까지 홀수합", sum_func(start = 1,step = 2))
print("0~50까지 홀수합", sum_func(start = 1,,step = 2))

0~100까지 합 5050
0~100까지 짝수합 2550
0~100까지 홀수합 2500

In [ ]:
def add_func(a,b):
    return a+b
def sub_func(a,b):
    return a-b
def min_func(a,b):
    return a+b
def mul_func(a,b):
    return a*b

In [ ]:
while True:
    cal_input = input("계산하려는 값을 입력하시오(끝내기 q):")
   
    if cal_input == "q":
        print("프로그램을 종료합니다.")
        break
    else:
        
        def cal_func(a,cal,b):
            if a.isdigit() and b.isdigit():
                if cal == "+":
                    output = int(a)+int(b)
                elif cal == "*":
                    output = int(a)*int(b)
                elif cal == "/":
                    output = int(a)/int(b)
                elif cal == "%":
                    output = int(a)%int(b)
                elif cal == "-":
                    output = int(a)-int(b)
                else:
                    output = "부호가 잘못되었습니다."
                    return output
            else:
                output = "숫자를 바르게 입력해주세요"
                return output
            return output


        cal_list = cal_input.split()
        print(cal_func(cal_list[0],cal_list[1],cal_list[2]))

# 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

In [44]:
## mean 함수 기능은 리스트 안에 평균을 구하는 함수닷!
from statistics import mean

grades = []

while True:
    grade_input = input("성적을 입력하시오:(종료q or Q)")
    if grade_input == "q" or grade_input == "Q":
        break    
    grades.append(grade_input)
    ## 1. 맵함수를 사용하여 리스트안에 문자열을 정수로 변환
grades = list(map(int,grades))
    ## 2. 리스트를 매개변수로 받아 mean 함수로 평균값을 return
def print_score(a):
    return mean(a)

print_score(grades)

성적을 입력하시오:(종료q or Q)100
성적을 입력하시오:(종료q or Q)200
성적을 입력하시오:(종료q or Q)300
성적을 입력하시오:(종료q or Q)400
성적을 입력하시오:(종료q or Q)500
성적을 입력하시오:(종료q or Q)q

300

In [ ]:
# 재귀 함수로 팩토리얼 구하기(콜백함수)
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

In [ ]:
# 재귀함수는 같은연산을 기하급수적으로 많이해 사용하면 안된다 하지만
# 메모화 기술을 통해 극복가능 (메모화: 메모 변수를 생성)

dict ={
    1: 1,
    2: 1
}

def fibonacci(n):
    
    if n in dict:
        return dict[n]
    else:
        output = fibonacci(n-1) + fibonacci(n-2)
        dict[n] = output
        return output

print(fibonacci(1000))

# 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

In [50]:
list_input = input("값을 입력하시오.").split(" ") 
list_data = map(int, list_input)

def print_even(lists):
    for list_input in lists:
        if list_input % 2 == 0:
            print("짝수")
        else:
            print("홀수")

print_even(list_data)

값을 입력하시오.100 200 300 403
짝수
짝수
짝수
홀수

In [45]:
# 함수 고급 : tuple ->(), lamda 함수
a,b = 10,20
print(a)

## swap
b,a = a,b
print(b)

10
10

In [53]:
# 텍스트 파일의 처리 : open(), file.write, file.close, file.read()
# 현재 경로에서 새로운 디렉토리 dataset 을 생성
# dataset 안에 새로운 파일 test.txt 파일을 생성
# test.txt 파일에 "hello python programing"을 작성하고 파일 close()
##(!이 pc에 명령을 수행하고자 할때)
!mkdir dataset

하위 디렉터리 또는 파일 dataset이(가) 이미 있습니다.
다음 내용 진행 중 오류 발생: dataset.
하위 디렉터리 또는 파일 ##(!이이(가) 이미 있습니다.
다음 내용 진행 중 오류 발생: ##(!이.
하위 디렉터리 또는 파일 pc에이(가) 이미 있습니다.
다음 내용 진행 중 오류 발생: pc에.
하위 디렉터리 또는 파일 명령을이(가) 이미 있습니다.
다음 내용 진행 중 오류 발생: 명령을.
하위 디렉터리 또는 파일 수행하고자이(가) 이미 있습니다.
다음 내용 진행 중 오류 발생: 수행하고자.
하위 디렉터리 또는 파일 할때)이(가) 이미 있습니다.
다음 내용 진행 중 오류 발생: 할때).

In [54]:
file = open("./dataset/test.txt","w")
file.write("hello python programing")
file.close()

In [55]:
file = open("./dataset/test.txt","r+")
contents = file.read()
print(contents)
file.write("\nhello python programing read")

hello python programing

In [62]:
# 제너레이터 함수 작성 : 함수 내부에 yield 키워드를 사용
def gen_test():
    print("1")
    yield 1
    
    print("2")
    yield 2
    
    print("3")
    yield 3
   
o_fudd = gen_test()

print("hh")    
a = next(o_fudd)
print(a)

print("hh")    
a = next(o_fudd)
print(a)

print("hh")    
a = next(o_fudd)
print(a)

hh
1
1
hh
2
2
hh
3
3

# 모듈

In [69]:
from math import ceil, floor

print(ceil(43.2))     # 올림 정수 44
print(floor(43.2))    # 내림 정수 43

44
43

In [ ]:
import math as m

print(m.ceil(43.2))
print(m.floor(43.2))

# random 모듈

In [ ]:
import random
print("random 모듈")

print("-random():",random.random())

print("-uniform:",random.random())

In [70]:
# mkdir() 디렉토리 생성
# rmdir() 디렉토리 삭제
# os.listdir() 현재 폴더 리스트
# os.remove 파일삭제
# os.remove("")
# os.rename

# urllib 모듈

In [74]:

# 웹 페이지 분석 모듈 Beautifulsoup
from urllib import request
from bs4 import BeautifulSoup

# 바이너리 데이터를 타겟에 저장
target = request.urlopen("https://www.kma.go.kr/kma/weather/forecast/mid-term-rss.jsp?stnId=108")

# Beautiful

soup = BeautifulSoup(target, "html.parser")

for location in soup.select("location"):
    # 내부의 city, wf, tmn, tmx 태크를 찾아 출력합니다.
    print("도시", location.select_one("city").string)
    print("날씨", location.select_one("wf").string)
    print("최저기온", location.select_one("tmn").string)
    print("최고기온", location.select_one("tmx").string)
    print()