In [1]:
import pandas as pd

In [ ]:
data_frame = pd.read_csv("data/friend_list.csv")

In [2]:
data_frame

NameError: name 'data_frame' is not defined

In [5]:
s1 = pd.core.series.Series( [1,2,3] )
s2 = pd.core.series.Series( ["one","two","three"] )

pd.DataFrame(data = dict(num=s1, word=s2))

   num   word
0    1    one
1    2    two
2    3  three